page-restore {
  ion-content{
    background-image:url("../assets/Myimg/back.png");
    background-size: cover;
    text-align: center;
  }
  img{
      margin-top: 30px;
      margin-left: 30px;
    }

  h1{
    color: #20BED7;
    margin-bottom: 40px;
    font-weight: bold;
  }

  input{
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    width: 300px;
    height: 39px;
    border: 1px solid #20BED7;
    border-radius: 20px;
    font-size: 15px;
  }
  .fa-user {
      font-size: 20px;
      position: absolute;
      margin-left: 38px;
      margin-top: 9px;
      color:#20BED7;
  }
  .fa-envelope
  {
      position: absolute;
      font-size: 20px;
      margin-left: 38px;
      margin-top: 9px;
      color:#20BED7;
  }
  .fa-phone
  {
      position: absolute;
      font-size: 20px;
      margin-left: 38px;
      margin-top: 9px;
      color:#20BED7;
  }

  ::placeholder{
  color:#20BED7;
  }

.check{
margin-left: 10px;
}

.check ion-label{
color:  #797979;
}

  button.sign{
      margin-top: 30px;
      margin-bottom: 30px;
      margin-left: 20px;
      margin-right: 20px;
      display: inline-block;
      font-size: 15px;
      padding: 20px;
      width: 300px;
      height: 30px;
      border: none;

  }
}
