<ion-header no-border>
    <ion-navbar>
        <ion-buttons left>
           </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>{{'Info' | translate}}</h1>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <div>
          <ion-label>{{'id' | translate}}</ion-label>
          <input type="text" name="" value="{{responseData.id}}" placeholder="">
        </div>
      </ion-col>

      <ion-col col-6>
        <div>
          <ion-label>{{'Language' | translate}}</ion-label>
          <input *ngIf="responseData.lang==1; else lang" type="text" name="" value="English" placeholder="">
          <ng-template #lang>
            <input type="text" name="" value="العربيه" placeholder="">
          </ng-template>
        </div>
      </ion-col>

      <ion-col col-6>
        <div>
          <ion-label>{{'Gender' | translate}}</ion-label>
          <input *ngIf="responseData.gender==0; else gender" type="text" name="" value="{{'Male' | translate}}" placeholder="">
          <ng-template #gender>
            <input type="text" name="" value="{{'Male' | translate}}" placeholder="">
          </ng-template>
        </div>
      </ion-col>

      <ion-col col-6>
        <div>
          <ion-label>{{'Social' | translate}}</ion-label>
          <input *ngIf="responseData.martial==0;" type="text" name="" value="{{'Single' | translate}}" placeholder="">
          <input *ngIf="responseData.martial==1;" type="text" name="" value="{{'Married' | translate}}" placeholder="">
          <input *ngIf="responseData.martial==2;" type="text" name="" value="{{'Divorced' | translate}}" placeholder="">
          <input *ngIf="responseData.martial==3;" type="text" name="" value="{{'Widewoed' | translate}}" placeholder="">
        </div>
      </ion-col>


    </ion-row>
  </ion-grid>

  <div><textarea class="subject" type="text" name="" value="{{responseData.body}}" placeholder="{{'WriteDream' | translate}}"></textarea>
  </div>

  <div>
    <audio controls *ngIf="responseData.voice_url!=null">
      <source src="https://212.237.28.169/storage/{{responseData.voice_url}}" type="audio/mp3">
      Your browser does not support the audio element.
    </audio>
  </div>

  <h6>{{'Interpretation' | translate}}</h6>

  <ion-list *ngIf="lang=='en' else Arabic">
      <ion-item>
        <ion-label>{{'DreamType' | translate}}</ion-label>
        <ion-select (ionChange)="notify()" [(ngModel)]="dreamData.dtype">
            <ion-option value="1">{{'Text' | translate}}</ion-option>
            <ion-option value="0">{{'Voice' | translate}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

  <div [hidden]="isToggled" *ngIf="responseData.i_body==null">
    <textarea class="subject" id="textarea" rows="8" cols="20" type="text" name=""
      value="" [(ngModel)]="dreamData.ibody" placeholder="{{'WriteDream' | translate}}">
        </textarea>
  </div>

  <div [hidden]="isToggled" *ngIf="responseData.i_body!=null">
    <textarea class="subject" id="textarea" rows="8" cols="20" type="text" name=""
      value="{{responseData.i_body}}" placeholder="{{'WriteDream' | translate}}">
        </textarea>
  </div>

  <div [hidden]="!isToggled">
    <div>
      <button ion-button round color="dream" (click)="stopRecord()" *ngIf="recording">
        <ion-icon name="mic-off"></ion-icon>&nbsp;&nbsp;{{'Stop' | translate}}
      </button>
      <div>
        <!-- Dots -->
        <ion-spinner name="dots" color="#20BED7" *ngIf="recording"></ion-spinner>
      </div>
    </div>
    <button ion-button round color="dream" (click)="startRecord()" *ngIf="!recording">
      <ion-icon name="mic"></ion-icon>&nbsp;&nbsp;{{'Start' | translate}}
    </button>


    <!-- 
                    <ion-row>
                      <ion-col>
                        <button ion-button full (click)="captureAudio()">Capture Audio</button>
                      </ion-col>
      
                    </ion-row>
                   
                    <ion-list>
                      <ion-item *ngFor="let file of mediaFiles" tappable (click)="play(file)" text-wrap>
                        {{ file.name }}
                        <p>{{ file.size / 1000 / 1000 | number }} MB</p>
                      </ion-item>
                    </ion-list> -->

    <ion-list>
      <ion-item *ngFor="let audio of audioList; index as i;">
        <p>{{audio.filename}}</p>
        <p>{{audio.audio}}</p>
        <button ion-button clear item-end large (click)="playAudio(audio.filename, i)">
          <ion-icon name="play"></ion-icon>
        </button>

        <!-- <audio controls>
                <source src="{{filePath}}" type="audio/mp3">
                Your browser does not support the audio element.
              </audio> -->

      </ion-item>
    </ion-list>
  </div>

  <div>
    <audio controls *ngIf="responseData.i_voice_url!=null">
      <source src="https://212.237.28.169/storage/{{responseData.i_voice_url}}" type="audio/mp3">
      Your browser does not support the audio element.
    </audio>
  </div>

  <ion-grid *ngIf="responseData.dream_state!=2">
    <ion-row>
      <ion-col col-6>
        <div>
        <button ion-button icon-end color="dream" round class="sign" (click)="Reply()">
            {{'Sendtxt' | translate}}
            <ion-icon name="ios-send-outline"></ion-icon>
          </button>
      </div>
      </ion-col>
      <ion-col col-6>
          <div>
              <button ion-button icon-end color="danger" round class="sign" (click)="Return()">
                  {{'Return' | translate}}
                  <ion-icon name="ios-undo-outline"></ion-icon>
                </button>
            </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- ========================Arabic============================= -->

<ng-template #Arabic>
    <ion-list dir="rtl">
      <ion-item>
        <ion-label>{{'DreamType' | translate}}</ion-label>
        <ion-select (ionChange)="notify()" [(ngModel)]="dreamData.dtype">
            <ion-option style="margin-left: 10px;" value="1">{{'Text' | translate}}</ion-option>
            <ion-option value="0">{{'Voice' | translate}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ng-template>

</ion-content>
