page-dream-info {
    ion-content{
        background-image:url("../assets/Myimg/back.png");
        background-size: cover;
        text-align: center;
        //margin-top: 40px;
        font-family: bein;
      }
      h1{
        color: #20BED7;
        margin-top: 20px !important;
        margin-bottom: 10px;
        font-weight: bold;
      }

      h6{
        color: #555555;
        // margin-top: 60px !important;
        margin-bottom: 10px;
        font-weight: bold;
      }

      h6{
        margin-top: 50px !important;
        color: #555555;
        text-align: center;

      }
    
      input{
        // margin-bottom: 10px;
        text-align: center;
        width: 140px;
        height: 39px;
        border: 1px solid #5d5d5d;
        border-radius: 20px;
        font-size: 15px;
      }
    
      .subject{
        margin-bottom: 10px;
        margin-top: 10px;
        //margin-left: 20px;
        //margin-right: 20px;
        text-align: center;
        width: 300px;
        height: 130px;
        border: 2px solid #D2D2D2;
        border-radius: 20px;
        font-size: 15px;
        box-shadow: 0 0 1px #719ECE;
        padding: 10px;
      }
    
      .subject:focus{
        outline: none !important;
        border-bottom: 2px solid #20BED7;
      }
    
      input:focus {
        outline: none !important;
        border-bottom: 2px solid #20BED7;
    }
    
    .fa-microphone
    {
      
        font-size: 20px;
        color:#20BED7;
    }
    
    .list-ios >.item-block:first-child {
       border-top:0; 
    }
    
    
    img{
      width: 150px;
      margin-bottom: 0px;
      cursor: pointer;
    }
    
    
    button.sign{
      margin-top: 30px;
      margin-bottom: 30px;
      margin-left: 20px;
      margin-right: 20px;
      display: inline-block;
      font-size: 15px;
      padding: 20px;
      width: 300px;
      height: 30px;
      border: none;
    
    }

    .itemtab .info{
      text-align: right;
      color: #20BED7;
      font-weight: bold;
  }

  .itemtab img{
   width: 42px;
}

.itemtab .Pname{
  font-size: 14px;
  line-height: 43px;
  margin-left: -26px;
}
ion-icon {
  font-size: 25px;
  margin-right: -70px;
  margin-left: 60px;
  color: #20BED7;
  border-radius: 20px;
  height: 43px !important;
}

ion-label {
  font-size:16px;
}

span.button-inner {
  height: 25px;
}

}
